<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <!-- Served from DO -->
    <title>{{ page.title }}</title>


    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="author" content="Cara Featherstone" />
    <meta name="description" content="A brief description of my work" />
    <meta name="keywords" content="cara featherstone, phd, stimuli, psychology, music, language, incongruity, aesthetics, psychometric" />
    <meta name="robots" content="index, follow, noarchive" />
    <meta name="googlebot" content="noarchive" />

    <link rel="stylesheet" href="/css/UrbanArtist.css" type="text/css" />

    <!--[if gt IE 5]>
	<link rel="stylesheet" href="/ie.css" type="text/css">
	<![endif]-->


    <!-- Soundmanager stuff -->
    <link rel="stylesheet" type="text/css" href="/soundmanager/demo/360-player/360player.css" />
    <!-- special IE-only canvas fix -->
    <!--[if IE]><script type="text/javascript" src="/soundmanager/demo/360-player/script/excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="/soundmanager/demo/360-player/script/berniecode-animator.js"></script>
    <script type="text/javascript" src="/soundmanager/script/soundmanager2.js"></script>
    <script type="text/javascript" src="/soundmanager/demo/360-player/script/360player.js"></script>
    <script type="text/javascript">
      soundManager.url = '/soundmanager/swf/';
    </script>
    <link rel="stylesheet" type="text/css" href="/soundmanager/demo/flashblock/flashblock.css" />

    <!-- Google analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41579762-4']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script> 
  </head>

  <body>

    <!-- wrap starts here -->
    <div id="wrap">
      <!--header -->
      <div id="header">
	<h1 id="logo-text"><a href="/"
			      title="">CaraFeatherstone</a></h1>
	<p id="intro">
	  Psychologist (BSc, PhD), Musician (BSc), Linguist
	  (MSc) and Academic (PhD, PGCert), turned
	  Psychometrician </p>
	<!--header ends-->
      </div>

      <!-- content-wrap starts -->
      <div id="content-wrap">
	<div id="main">
          {{ content }}
	  <!-- main ends -->
	</div>
	<!-- sidebar starts -->
	<div id="sidebar">
	  <h3>Me</h3>
	  <p>
	    <a href="/"><img src="/images/id.jpg" width="60" height="60" alt="photo" class="float-left" /></a>
	    <strong>Cara Featherstone</strong>, PhD <br>
	    Psychometrician, <a href="http://www.rcsed.ac.uk" title="RCSEd">RCSEd</a> | <strong><a href="/crfeatherstone_cv.pdf" title="CV">CV</a></strong>
	    <strong>c.featherstone(at)rcsed.ac.uk</strong><br/>
	    <br><br>
	    Visiting research fellow, <a href="http://www.leeds.ac.uk" title="leeds">University of Leeds</a><br>
	    Associate teaching staff, <a href="http://www.ed.ac.uk" title="edinburgh">University of Edinburgh</a><br>
	  </p>

	  <h3>Life as a psychometrician</h3>
	  <ul class="sidemenu">
	    <li><a href="/psychometrician_what.html">What do I do?</a></li>
	    <li><a href="/psychometrician_how.html">How did I end up doing that?</a></li>
	  </ul>

	  <h3>Previous work</h3>
	  <ul class="sidemenu">
	    <li><a href="/research_interests.html">Research interests and co-authors</a></li>
	    <li><a href="/publications.html">Publications</a></li>
	    <li><a href="/stimuli.html">My stimulus set</a><br>
	      <span><a href="/listen.html">Listen</a> | 
		<a href="/scores.html">Scores</a> | 
		<a href="/download.html">Download</a></span></li>
	    <li><a href="/teaching.html">Teaching</a><br>
	      <span><a href="/teaching_ml.html"> - Music and language in the brain</a><br>
		<a href="/teaching_rm.html"> - Research methods</a></span></li>
	  </ul>

	  <h3>A few other links</h3>
	  <ul class="sidemenu">
	    <li><a href="http://www.psyc.leeds.ac.uk/" title="affiliation">IPS, University of Leeds<br />
		<span>Where I did my PhD</span></a>
	    </li>
	    <li><a href="http://www.esrc.ac.uk/" title="esrc">The ESRC<br />
		<span>Who funded a good part of my research</span></a>
	    </li>
	    <li><a href="http://www.silentlines.co.uk" title="music">In my spare time...<br />
		<span>Something a bit different</span></a>
	    </li>
	  </ul>
	  <!-- sidebar ends -->
	</div>
	<!-- content-wrap ends-->
      </div>

      <!-- footer starts here -->
      <div id="footer">

	<div id="footer-left">
	  <p>
	    &copy; 2011, Cara R. Featherstone&nbsp;
	    Website template by <a href="http://www.styleshout.com/">Styleshout</a> &nbsp;
	  </p>
	</div>

	<!-- <div id="footer-right">
	     <p class="align-right">
	       <a href="/">Home</a> | <a href="/">Sitemap</a> | <a href="/" class="rssfeed">RSS Feed</a>
	     </p>
	</div>-->

      </div>
      <!-- footer ends here -->

      <!-- wrap ends here -->
    </div>

  </body>
</html>
